html, body {
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

#wrapper {
	width: 100%;
	height: 100%;
}

#header {
	width: 100%;
	color: black;
}

#title {
	float: left;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	margin-top: 2.5px;
	border-right: 1px double #000;
}

#filters {
	float: right;
	display: inline-block;
	z-index: 1;
	margin-right: 3%;
}

#filters div {
	display: inline-block;
}

#typeFilter select {
	text-align-last: center;
}

#dateFilter select {
	padding: 0 7.5px 0 7.5px;
	text-align: center;
}

select {
	text-align: center;
	border-color: white;
}

select:focus {
	outline: 0;
	box-shadow: none;
}

#map_canvas {
	/*width: 79.5%;*/
	width: 80%;
	display: inline-block;
	float: left;
}

#sidebar {
	float: right;
	width: 20%;
	background-color: #EEDD82;
	z-index: 2;
	display: inline-block;
	overflow: auto;
	opacity: 0.8;
}

#sidebar ul {
	list-style-type: none;
	padding-left: 7.5px;
}

#sidebar li {
	padding-bottom: 7.5px;
	font-size: 14px;
	font-family: 'Roboto Slab', serif;
	text-align: center;
}

#sidebar li:hover {
	font-size: 16px;
	font-weight: bold;
	cursor: default;
}

#sidebar h3 {
	text-align: center;
}

a {
	/*text-decoration: underline;*/
	text-decoration: none;
	color: black;
	font-family: 'Roboto Slab', serif;
	/*color: #EEDD82;*/
}
a:visited {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover, a:active {
	text-decoration: none;
}

/*#gutter {
	width: .5%;
	background-color: black;
	float: left;
}

#gutter:hover {
	background-color: white;
}*/

.messagepop {
	background-color: #FFFFFF;
	/*border:1px solid #999999;*/
	cursor: default;
	display: none;
	margin-top: 15px;
	position: absolute;
	text-align: left;
	width: 27.5%;
	height: 15%;
	z-index: 50;
	padding-bottom: 0px;
	padding-right: 5px;
	/*margin-left: 35%;*/
	top: 52.8%;
	right: 47%;
}

/*.messagepop p, .messagepop.div, .messagepop h4 {
 padding-bottom: 8px;
 text-align: left;
 padding: 3px;
 }*/

#popName {
	font-weight: bold;
}

#popDateType {
	font-size: 14px;
}

.messagepop p, .messagepop.div, .messagepop {
	text-align: left;
	padding: 3px;
	margin: 0px;
	font-family: 'Roboto Slab', serif;
}

.close {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-bottom: 7px;
	padding-right: 7px;
}

.details {
	display: none;
}

/*.messagepop */

.arrow-up {
	z-index: 51;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
	position: absolute;
	top: 53.5%;
	right: 59.5%;
	display: none;
}

#map_canvas.smallMap {
	width: 400px;
}

/* css from info window example */
.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	/*box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);*/
	/*border: 1px solid rgba(72, 181, 233, 0.6);*/
	border-radius: 2px 2px 10px 10px;
	width: 100%;
}
#iw-container {
	margin-bottom: 10px;
	width: 350px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	/*background-color: #48b5e9;*/
	background-color: #EEDD82;
	/*color: white;*/
	color: black;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

/*.iw-content img {
 float: right;
 margin: 0 5px 5px 10px;
 }*/

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

/* splitter */

/*.gutter {
 background-color: #eee;
 background-repeat: no-repeat;
 background-position: 50%;
 }

 .gutter.gutter-horizontal {
 cursor: ew-resize;
 background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')
 }

 .gutter.gutter-horizontal {
 float: left;
 }*/

/*.map-mask{
 margin-top: 7%;
 height: 100%;
 width:78%;
 position: absolute;
 z-index: 1000;
 display:none;
 }*/

/* general*/

/*li {
 margin: 0 5px 10px 0;
 }
 body {
 /*height: 100%;
 background-image: url("../images/palmtreesbackground.jpg");
 background-size: cover;
 background-attachment: fixed;
 position: relative;
 margin: 0;
 }

 select {
 border-radius: 7px;
 font-size: 14px;
 }
 #typeFilter {
 display: inline-block;
 }
 #dateFilter {
 }
 .buttons {
 margin-bottom: 20px;
 float: left;
 margin: 8px;
 margin-bottom: 20px;
 }

 #nearMe {
 border-radius: 7px;
 background-color: white;
 border-width: 1px;
 }
 .infoWindow a:hover {
 text-decoration: underline;
 }

 .infoWindow {
 text-align: center;
 }

 .infoWindow h4 {
 margin-bottom: .33em;
 }

 // jquery tab example
 /* Style the tab
 div.tab {
 /*overflow: hidden;
 border: 1px solid #ccc;*/
/*background-color: #f1f1f1;
 opacity: 0.8;
 }

 /* Style the buttons inside the tab
 div.tab button {
 background-color: inherit;
 /*float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 transition: 0.3s;
 color: white;
 background-color: black;
 text-align: center;
 }

 /* Change background color of buttons on hover
 div.tab button:hover {
 /*background-color: #ddd;
 background-color: white;
 opacity: 1.0;
 color: black;
 }

 /* Create an active/current tablink class */
/*div.tab button.active {
 background-color: #ccc;
 }*/

/* Style the tab content
 .tabcontent {
 display: none;
 padding: 6px 12px;
 border: 1px solid #ccc;
 border-top: none;
 }*/
